.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.container {
  max-height: none;
  max-width: 90%;
}

.hero-section {
  margin-bottom: 0px;
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: #294d97;
  background-image: linear-gradient(14deg, #0d2860 21%, rgba(12, 37, 89, 0.92) 36%, transparent), url('../images/Rectangle-2.png');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  font-family: Merriweather, serif;
  color: #fff;
}

.hero-heading {
  margin-bottom: 40px;
  font-size: 70px;
  text-align: left;
}

.hero-para {
  margin-bottom: 0px;
}

.paragraph {
  margin-bottom: 0px;
}

.light-section {
  overflow: visible;
  max-height: 18%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Montserrat, sans-serif;
}

.intro-heading {
  margin-bottom: 20px;
  font-size: 50px;
  text-align: center;
}

.intro-sub-heading {
  font-size: 23px;
  line-height: 1;
  text-align: center;
}

.column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.intro-image {
  max-width: 70%;
}

.columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.intro-para {
  max-width: 80%;
  font-family: Montserrat, sans-serif;
}

.about-us-button {
  background-color: #0d2860;
}

.dark-section {
  overflow: visible;
  max-height: none;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #0d2860;
  font-family: Montserrat, sans-serif;
  color: #fff;
  -o-object-fit: fill;
  object-fit: fill;
}

.dark-section.last-section {
  margin-bottom: 0px;
}

.grid {
  margin-top: 40px;
  margin-bottom: 40px;
  justify-items: center;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  color: #fff;
}

.acitivity-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.activity-logo {
  margin-bottom: 10px;
}

.activity-para {
  text-align: center;
}

.activity-para.collab {
  margin-bottom: 40px;
}

.activity-title {
  margin-bottom: 10px;
  font-size: 15px;
}

.bold-text {
  text-align: center;
}

.smaller-heading {
  text-align: left;
}

.smaller-heading.centered {
  text-align: center;
}

.image-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider {
  display: block;
  margin-top: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #0d2860;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #0d2860;
  font-family: Montserrat, sans-serif;
  color: #fff;
}

.footer-logo {
  margin-bottom: 10px;
}

.footer-para {
  margin-bottom: 80px;
}

.footer-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.navbar {
  background-color: #0d2860;
  font-family: Merriweather, serif;
  color: #fff;
}

.link {
  margin-bottom: 15px;
  color: #fff;
  text-decoration: none;
}

.footer-text {
  margin-bottom: 15px;
  font-size: 18px;
}

.nav-link {
  color: #fff;
}

.nav-link.w--current {
  color: #b6b6b6;
}

.nav-menu {
  color: #fff;
}

.nav-link-2 {
  color: #fff;
}

.nav-link-2.w--current {
  color: #b6b6b6;
}

.nav-link-3 {
  color: #fff;
}

.nav-link-3.w--current {
  color: #b6b6b6;
}

.nav-link-4 {
  color: #fff;
}

.nav-link-4.w--current {
  color: #b6b6b6;
}

.nav-image {
  margin-top: 5px;
}

.first-section {
  margin-bottom: 0px;
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: #294d97;
  font-family: Merriweather, serif;
  color: #fff;
}

.first-section-heading {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 70px;
  text-align: center;
}

.grid-2 {
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.name {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.position {
  text-align: center;
}

.event-title {
  font-size: 30px;
}

.event-title.right {
  font-size: 25px;
}

.event-title.left {
  font-size: 25px;
  text-align: right;
}

.event-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.event-left {
  text-align: right;
}

.slide {
  max-height: 100%;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.collab-image {
  margin-bottom: 10px;
}

@media screen and (max-width: 991px) {
  .slider {
    display: block;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .nav-menu {
    background-color: #0d2860;
  }

  .menu-button {
    background-color: #0d2860;
  }

  .menu-button.w--open {
    background-color: #0d2961;
  }
}

@media screen and (max-width: 767px) {
  .column {
    margin-bottom: 20px;
  }

  .columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .activity-title {
    text-align: center;
  }

  .image-column {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 479px) {
  .hero-heading {
    font-size: 40px;
  }

  .grid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }

  .first-section-heading {
    font-size: 50px;
  }
}

#w-node-a554b633-3ff5-5a10-2875-bc12745b6798-16915630 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: auto;
  justify-self: auto;
}

#w-node-_41507d46-d541-012b-8ac9-f1c3e169b7c3-16915630 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: auto;
  justify-self: auto;
}

#w-node-_1734cee5-998a-1e44-4d5d-ef48cdb3cf50-16915630 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: auto;
  justify-self: auto;
}

#w-node-_39e4c4f5-f17d-0635-964c-08715bd56d3c-16915630 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: auto;
  justify-self: auto;
}

#w-node-_42f8365d-8227-33b3-999c-4bceedd380e2-16915630 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: auto;
  justify-self: auto;
}

#w-node-_56a1f730-eb52-86f6-b44b-ad0ab154faa1-16915630 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: auto;
  justify-self: auto;
}

#w-node-_75c926c9-54d2-de2b-3d29-28066a6e07f5-ff5c3b6e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_30c8a5c9-81aa-5340-f7d6-7aab350f2e0a-ff5c3b6e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-ef9b83af-bbdf-d53d-4e13-ca538427e3c3-ff5c3b6e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-ef9b83af-bbdf-d53d-4e13-ca538427e3c8-ff5c3b6e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_382bace8-96ed-6662-a353-6a8380b76b9a-ff5c3b6e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_382bace8-96ed-6662-a353-6a8380b76b9f-ff5c3b6e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-be7a55bd-0e16-d2a3-8ba2-d3654b7a6afb-ff5c3b6e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-be7a55bd-0e16-d2a3-8ba2-d3654b7a6b00-ff5c3b6e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_5adae3e2-c664-afd2-b524-7707df8d2529-ff5c3b6e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-baa59807-6a03-3296-41ee-313439229dcf-ff5c3b6e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-baa59807-6a03-3296-41ee-313439229dd4-ff5c3b6e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_82aa2b78-bfed-7502-3705-0de3778f7c05-ff5c3b6e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_82aa2b78-bfed-7502-3705-0de3778f7c0a-ff5c3b6e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_792655d2-6eb5-81ee-332c-73927b493941-ff5c3b6e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_792655d2-6eb5-81ee-332c-73927b493946-ff5c3b6e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-fd32b8cf-e44b-3a24-f68e-fc0a4ee816b3-ff5c3b6e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-fd32b8cf-e44b-3a24-f68e-fc0a4ee816b8-ff5c3b6e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

@media screen and (max-width: 767px) {
  #w-node-_56a1f730-eb52-86f6-b44b-ad0ab154faa1-16915630 {
    -ms-grid-column-align: auto;
    justify-self: auto;
  }
}